body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

input:focus, input:active,
button:focus,
button:active {
    outline: none;
}

.hidden {
    display: none;
}

.btn {
    display: block;
    width: 200px;
    height: 50px;
    background-color: #826550;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #6a4d38;
}

.btn:disabled {
    background-color: #454545;
}

.info {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 0;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #2a2a2a;
}

@media (min-width: 1200px) {
    .info {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.info__tel {
    display: block;
    width: 100%;
}

.info__btn {
    display: none;
}

.btn {
    display: block;
}

.main-nav {
    background-color: #2a2a2a;
}

.main-nav__navigation {
    position: relative;
    width: auto;
}

@media (min-width: 1200px) {
    .main-nav__navigation {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.main-nav__items {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 1200px) {
    .main-nav__items {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.main-nav__item {
    position: relative;
}

.main-nav__submenu {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #454545;
    z-index: 3;
}

.main-nav__subitem {
    position: relative;
}

.main-nav__subitem::after {
    position: absolute;
    content: '';
    width: 90%;
    height: 1px;
    left: 5%;
    bottom: 0;
    background-color: #2a2a2a;
}

.main-nav__subitem:last-of-type::after {
    display: none;
}

.main-nav__sublink {
    display: block;
    padding: 10px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 16px;
}

.main-nav__sublink:hover {
    color: #826550;
}

.main-nav__cart {
    position: relative;
    width: 80px;
    border: none;
    cursor: pointer;
    background-color: #2a2a2a;
    background-image: url("../img/shop/cart.svg");
    background-repeat: no-repeat;
    background-position: 45% 60%;
    background-size: 35px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.main-nav__cart--main-page {
    pointer-events: none;
    cursor: auto;
    background-image: url("../img/shop/cart-unselected.svg");
}

.main-nav__num-cart {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #6a4d38;
}

.main-nav__link {
    display: block;
    padding: 12px 0;
}

@media (max-width: 767px) {
    .info {
        padding: 10px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .info__radio, .info__btn {
        display: none;
    }

    .main-nav {
        background-color: #826550;
    }

    .main-nav__navigation {
        min-height: 50px;
    }

    .main-nav__wrapper {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        left: 60px;
        height: 70vh;
        min-height: 300px;
        background-color: #826550;
    }

    .main-nav__item::after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0;
        background-color: #6a4d38;
    }

    .main-nav__toggle {
        position: absolute;
        display: block;
        width: 60px;
        height: 50px;
        padding: 8px 12px;
        top: 0;
        left: 0;
        cursor: pointer;
        border: none;
        background-color: #6a4d38;
    }

    .main-nav__toggle-bar {
        display: block;
        width: 36px;
        height: 3px;
        margin-bottom: 10px;
        background-color: #ffffff;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .main-nav__toggle-bar:last-of-type {
        margin-bottom: 0;
    }

    .main-nav__toggle--opened .main-nav__toggle-bar-top {
        width: 43px;
        margin-left: -4px;
        -webkit-transform: translateY(13px) rotate(135deg);
        transform: translateY(13px) rotate(135deg);
    }

    .main-nav__toggle--opened .main-nav__toggle-bar-middle {
        opacity: 0;
    }

    .main-nav__toggle--opened .main-nav__toggle-bar-bottom {
        margin-left: -4px;
        width: 43px;
        -webkit-transform: translateY(-13px) rotate(-135deg);
        transform: translateY(-13px) rotate(-135deg);
    }

    .main-nav__cart {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 60px;
        height: 50px;
        background-color: #6a4d38;
    }

    .main-nav__num-cart {
        top: 5px;
        right: 5px;
        background-color: #454545;
    }
}

@media (min-width: 768px) {
    .info {
        background-color: #ffffff;
    }

    .info__logo {
        width: 300px;
    }

    .info__radio:nth-child(2) {
        display: none;
    }

    .info__span {
        text-transform: none;
        font-weight: 400;
        color: #454545;
    }

    .info__span--footer {
        color: #000000;
    }

    .info__tel {
        color: #6a4d38;
    }

    .main-nav__navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .main-nav__wrapper {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .main-nav__toggle {
        display: none;
    }

    .main-nav__items {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .main-nav__item {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .main-nav__item::after {
        position: absolute;
        content: "";
        display: block;
        width: 1px;
        height: 80%;
        top: 10%;
        right: 0;
        background-color: #454545;
    }

    .main-nav__cart:hover {
        background-image: url("../img/shop/cart-hover.svg");
    }

    .main-nav__link {
        padding: 20px 0;
    }

    .main-nav__link:hover {
        -webkit-transition: 0.3s;
        transition: 0.3s;
        color: #826550;
    }
}

@media (min-width: 1200px) {
    .info__radio:nth-child(2) {
        display: block;
    }

    .main-nav__item--submenu:hover .main-nav__submenu {
        display: block;
    }
}

@media (max-width: 767px) {
    .slider {
        display: none;
    }
}

@media (min-width: 768px) {
    .slider {
        position: relative;
        width: auto;
        max-width: 100%;
        height: 400px;
        border: 20px solid #454545;
        border-top: none;
        border-bottom: 50px solid #454545;
    }

    .slider__wrapper {
        margin-bottom: -7px;
    }

    .slider__img {
        width: auto;
        height: 400px;
        background: no-repeat center;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.5;
        -webkit-transition: 1s;
        transition: 1s;
    }

    .slider__img--show {
        position: relative;
        opacity: 1;
    }

    .slider__control {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 30px 20px;
        font-size: 20px;
        font-weight: bold;
        z-index: 3;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #ffffff;
    }

    .slider__control--prev {
        left: 0;
        border-radius: 0 10px 10px 0;
    }

    .slider__control--next {
        right: 0;
        border-radius: 10px 0 0 10px;
    }

    .slider__control:hover, .slider__control:active {
        background-color: #2a2a2a;
        opacity: 0.7;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .slider__dots {
        position: absolute;
        cursor: pointer;
        bottom: -39px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .slider__dot {
        display: inline-block;
        cursor: pointer;
        margin: 0 2px;
        width: 15px;
        height: 15px;
        background-color: #2a2a2a;
        border-radius: 50%;
    }

    .slider__dot--active, .slider__dot:hover {
        -webkit-transition: 0.3s;
        transition: 0.3s;
        background-color: #000000;
    }
}

.feature {
    width: auto;
}

@media (min-width: 1200px) {
    .feature {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.feature__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.feature-item {
    text-align: center;
}

.feature-item__header {
    font-size: 25px;
    line-height: 30px;
}

.feature-item__img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.feature-item__descr {
    max-width: 300px;
    margin: 10px auto;
    font-size: 16px;
    line-height: 20px;
}

@media (max-width: 767px) {
    .feature {
        position: relative;
        overflow: hidden;
    }

    .feature__wrapper {
        position: relative;
        left: 0;
        width: 300%;
        -webkit-transition: 1s;
        transition: 1s;
    }

    .feature-item {
        -ms-flex-preferred-size: 33.3%;
        flex-basis: 33.3%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .feature__control {
        position: absolute;
        top: 50%;
        padding: 20px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 20px;
        font-weight: bold;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
    }

    .feature__control--prev {
        left: 0;
    }

    .feature__control--next {
        right: 0;
    }
}

@media (min-width: 768px) {
    .feature {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .feature__wrapper {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .feature-item {
        position: relative;
        width: 26%;
    }

    .feature__control {
        display: none;
    }
}

.text-header {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.text-header::after {
    position: relative;
    content: "";
    display: block;
    width: 90%;
    height: 2px;
    left: 5%;
    top: -45px;
    z-index: 1;
}

.text-h {
    position: relative;
    display: inline-block;
    font-size: 35px;
    line-height: 35px;
    margin-top: 50px;
    padding: 0 15px;
    z-index: 2;
}

.main-info {
    background-color: #dadada;
}

.main-info__header::after {
    background-color: #000000;
}

.main-info__h {
    background-color: #dadada;
}

.main-info__p {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
    padding-bottom: 50px;
}

.main-info__link {
    color: #000000;
    text-decoration: underline;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.main-info__link:hover {
    color: #6a4d38;
}

.func {
    background-color: #2a2a2a;
}

.func__header {
    color: #ffffff;
}

.func__header::after {
    background-color: #ffffff;
}

.func__h {
    color: #ffffff;
    background-color: #2a2a2a;
}

.func__items {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (min-width: 1200px) {
    .func__items {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.func__item {
    position: relative;
    text-align: center;
    min-width: 256px;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-bottom: 20px;
}

.func__p {
    padding-bottom: 20px;
    width: 80%;
    margin: 0 auto;
    color: #b1b1b1;
}

.func__link {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: underline;
}

.func__link:hover {
    color: #6a4d38;
}

.func__item:nth-child(2) {
    background-color: #363636;
}

.func__item:nth-child(3) {
    background-color: #454545;
}

.func__item:nth-child(4) {
    background-color: #888888;
}

.func__item:nth-child(5) {
    background-color: #a3a3a3;
}

.func__item:nth-child(6) {
    position: relative;
    background-color: #dadada;
}

.func__item:nth-child(6)::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 10%;
    background-color: #6a4d38;
}

.func__item:nth-child(6) .func__link {
    display: none;
}

.func__item:nth-child(n+4) .func__header {
    color: #000000;
}

.func__item:nth-child(n+4) .func__link {
    color: #000000;
}

.func__item:nth-child(n+4) .func__link:hover {
    color: #6a4d38;
}

.func__item:nth-child(n+4) .func__p {
    color: #454545;
}

.reviews {
    position: relative;
    padding: 40px 0;
    width: auto;
    background-color: #dadada;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .reviews {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.reviews__header::after {
    background-color: #000000;
}

.reviews__h {
    background-color: #ffffff;
}

.reviews__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 200%;
    left: 0;
    -webkit-transition: 1s;
    transition: 1s;
}

.reviews__item {
    width: 12%;
    text-align: center;
}

.reviews__control {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.reviews__control--prev {
    left: 0;
}

.reviews__control--next {
    right: 0;
}

.reviews__name {
    font-size: 20px;
}

.reviews__review {
    margin-bottom: 0;
    font-size: 16px;
}

@media (max-width: 767px) {
    .reviews__wrapper {
        width: 600%;
    }

    .reviews__item {
        -ms-flex-preferred-size: 33.3%;
        flex-basis: 33.3%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .reviews__review {
        max-width: 300px;
        padding: 0 40px;
        margin: 0 auto;
        margin-top: 20px;
    }
}

.news {
    width: auto;
    padding-bottom: 30px;
}

@media (min-width: 1200px) {
    .news {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.news__header::after {
    top: -70px;
    background-color: #000000;
}

.news__h {
    background-color: #ffffff;
}

.news__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
}

.news__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 15px;
}

.news__item::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 80%;
    right: 10px;
    top: 10%;
    background-color: #6a4d38;
}

.news__item:last-of-type::after {
    display: none;
}

.news__img {
    min-width: 50px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.news__descr {
    max-width: 300px;
}

@media (max-width: 767px) {
    .news__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .news__item {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-bottom: 30px;
        margin-top: 30px;
    }

    .news__item::after {
        width: 80%;
        height: 2px;
        left: 10%;
        top: 95%;
    }
}

@media (max-width: 1199px) {
    .news__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .news__item::after {
        right: 0;
    }
}

.footer {
    color: #ffffff;
    background-color: #2a2a2a;
    font-size: 16px;
}

.footer__h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}

.footer__wrapper {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@media (min-width: 1200px) {
    .footer__wrapper {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.footer-adds {
    font-style: normal;
}

.footer-adds__h3 {
    font-size: 25px;
    text-transform: none;
}

.footer-adds__address {
    margin-bottom: 20px;
}

.footer-adds__tels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-adds__tel {
    margin-right: 30px;
}

.footer-social__wrapper {
    text-align: center;
}

.footer-social__link {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #454545;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.footer-social__link:hover {
    background-color: #dadada;
}

.footer-social__link--vk {
    background-image: url("../img/index/vk.png");
}

.footer-social__link--vk:hover {
    background-image: url("../img/index/vk-w.png");
}

.footer-social__link--fb {
    background-image: url("../img/index/fb.png");
}

.footer-social__link--fb:hover {
    background-image: url("../img/index/fb-w.png");
}

.footer-social__link--inst {
    background-image: url("../img/index/inst.png");
}

.footer-social__link--inst:hover {
    background-image: url("../img/index/inst-w.png");
}

.footer-develop__created {
    margin-bottom: 40px;
}

.footer-develop__company {
    padding: 11px;
    background-color: #454545;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.footer-develop__company:hover {
    background-color: #dadada;
    color: #000000;
}

@media (max-width: 1199px) {
    .footer__wrapper {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .footer__item {
        width: 40%;
        text-align: center;
    }

    .footer-social {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        margin-bottom: 20px;
    }

    .footer-adds__tels {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .footer__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer__item {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer__h3 {
        margin-bottom: 10px;
    }

    .footer-adds__tel {
        margin-bottom: 0;
    }
}

.request__h2 {
    margin-top: 60px;
    text-align: center;
}

.request__btn {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 250px;
}

@media (min-width: 768px) {
    .request {
        display: none;
    }
}

.popup-request {
    position: fixed;
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 10%;
    left: 50%;
    width: 90%;
    max-height: 90%;
    max-width: 500px;
    padding: 0 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

.popup-request__close {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    width: 45px;
    height: 45px;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup-request__close::before, .popup-request__close::after {
    position: absolute;
    content: "";
    top: 45%;
    left: 7px;
    width: 30px;
    height: 3px;
    background-color: #2a2a2a;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.popup-request__close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.popup-request__close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.popup-request__close:hover::before, .popup-request__close:hover::after {
    background-color: #6a4d38;
}

.popup-request__h2 {
    position: relative;
    margin-top: 40px;
    font-size: 22px;
    text-align: center;
}

.popup-request__h2::before {
    position: absolute;
    content: '';
    width: 60%;
    height: 2px;
    bottom: -10px;
    left: 20%;
    background-color: #6a4d38;
}

.popup-request__item {
    margin-left: 10px;
}

.popup-request__btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 3px solid #dadada;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.popup-request__btn:focus {
    border: 3px solid #826550;
    outline: none;
}

.popup-request__btn:hover {
    border: 3px solid #826550;
    outline: none;
}

.popup-request__btn::-webkit-input-placeholder {
    color: #CC3434;
}

.popup-request__btn:-ms-input-placeholder {
    color: #CC3434;
}

.popup-request__btn::-ms-input-placeholder {
    color: #CC3434;
}

.popup-request__btn::placeholder {
    color: #CC3434;
}

.popup-request__textarea {
    resize: none;
}

.popup-request__submit {
    margin: 30px auto;
}

.popup-request__thanks {
    max-width: 250px;
    margin: 70px auto;
    text-align: center;
    font-size: 21px;
}

.overlay {
    z-index: 5;
    position: fixed;
    display: none;
    background-color: #000000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

@media (max-width: 767px) {
    .popup-request {
        top: 5%;
    }
}

@media (max-height: 660px) {
    .popup-request {
        overflow-y: scroll;
    }
}

.search {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
}

@media (min-width: 1200px) {
    .search {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.search__result {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 220px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 5px 10px;
    height: 40px;
    border: 2px solid #454545;
    border-right: none;
}

.search__submit {
    width: 60px;
    height: 40px;
    border: none;
    background-color: #454545;
    background-image: url("../img/shop/search.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.search__submit:hover {
    background-color: #2a2a2a;
}

.filter {
    position: relative;
    width: auto;
    margin-bottom: 20px;
    background-color: #dadada;
}

@media (min-width: 1200px) {
    .filter {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.filter::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #6a4d38;
}

.filter__header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter__header:hover {
    cursor: pointer;
}

.filter__h2 {
    margin: 0;
    font-size: 24px;
}

.filter__arrow {
    margin-left: 20px;
    width: 30px;
    height: 32px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.filter__fieldset {
    position: relative;
    margin: 0;
    padding-bottom: 20px;
    border: none;
}

.filter__fieldset::after, .filter__fieldset:first-of-type::before {
    position: absolute;
    content: '';
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 10%;
    background-color: #6a4d38;
}

.filter__fieldset:first-of-type::before {
    top: 0;
}

.filter__legend {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.filter__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 320px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.filter__wrapper--amount {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.filter__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.filter__item--number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.filter__item--type {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.filter__span {
    padding-left: 5px;
}

.filter__number {
    width: 60%;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #454545;
}

.filter__number--amount {
    width: 100%;
}

.filter__number:focus {
    border: 2px solid #000000;
}

.filter__submit {
    margin: 20px auto;
    margin-bottom: 10px;
}

.filter__submit:disabled {
    background-color: #454545;
}

.filter__checkbox {
    display: none;
}

.filter__checkbox--check {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: sub;
    border-radius: 5px;
    background-color: #826550;
}

.filter__checkbox--check:hover {
    background-color: #6a4d38;
}

.filter__checkbox--check::before, .filter__checkbox--check::after {
    position: absolute;
    content: '';
    height: 3px;
    background-color: #ffffff;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    opacity: 0;
}

.filter__checkbox--check::before {
    width: 8px;
    left: 2px;
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.filter__checkbox--check::after {
    width: 13px;
    left: 6px;
    top: 9px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.filter__checkbox:checked + .filter__checkbox--check::before,
.filter__checkbox:checked + .filter__checkbox--check::after {
    opacity: 1;
}

@media (min-width: 768px) {
    .search__submit {
        width: 80px;
    }

    .filter__fieldsets {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .filter__fieldset {
        -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
    }

    .filter__fieldset:first-of-type::before {
        display: none;
    }

    .filter__fieldset--submit {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .filter__item--number {
        margin-top: 20px;
    }
}

.result-container {
    width: auto;
    padding-bottom: 30px;
    min-height: 510px;
}

@media (min-width: 1200px) {
    .result-container {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.result-container__alert {
    max-width: 500px;
    margin-top: 100px;
    text-align: center;
    font-size: 26px;
    line-height: 32px;
    color: #454545;
}

.paginator {
    display: block;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto 20px;
}

.paginator__page {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    transition: 0.5s;
    color: #ffffff;
    background-color: #826550;
}

.paginator__page--active {
    cursor: auto;
    background-color: #6a4d38;
}

.paginator__page:hover {
    background-color: #6a4d38;
}

@media (min-width: 768px) {
    .result-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}

.product {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 320px;
    max-width: 400px;
    max-height: 220px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 20px;
    color: #000000;
}

.product::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #826550;
}

.product__title {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

.product__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.product__img {
    width: 100px;
    height: 150px;
}

.product__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 60%;
}

.product__price, .product__power, .product__amount {
    margin-top: 4px;
    margin-bottom: 4px;
    text-transform: none;
}

.product__price {
    text-decoration: underline;
}

.product__add-cart {
    width: 180px;
    height: 50px;
}

@media (min-width: 768px) {
    .product {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin: 0 10px;
    }
}

.cart {
    position: absolute;
    width: 320px;
    top: 50px;
    right: 0;
    display: none;
    border: 2px solid #2a2a2a;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cart__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    padding-left: 5px;
    text-align: right;
}

.cart__item::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #6a4d38;
}

.cart__item--total {
    display: block;
    padding-bottom: 15px;
}

.cart__item--total::after {
    display: none;
}

.cart__link {
    position: relative;
    display: block;
    max-width: 265px;
    padding-right: 10px;
    color: #000000;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.cart__link::after {
    position: absolute;
    content: '';
    right: 0;
    top: 10%;
    width: 2px;
    height: 80%;
    background-color: #6a4d38;
}

.cart__remove {
    position: relative;
    -ms-flex-item-align: center;
    align-self: center;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.cart__remove::after, .cart__remove::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    top: 14px;
    left: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 2px;
    background-color: #2a2a2a;
}

.cart__remove::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cart__remove::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cart__remove:hover::before, .cart__remove:hover::after {
    background-color: #6a4d38;
}

.cart__title-item {
    float: left;
    margin: 0 5px;
    color: #2a2a2a;
}

.cart__title-item--1 {
    top: 10px;
}

.cart__title-item--2 {
    top: 37px;
}

.cart__name, .cart__price {
    display: inline-block;
    max-width: 225px;
    font-size: 15px;
    line-height: 18px;
}

.cart__price {
    text-decoration: underline;
}

.cart__btn {
    margin: 0 auto;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .cart {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-top: none;
        border-right: none;
    }
}

@media (min-width: 768px) {
    .cart {
        top: 66px;
    }
}

.cognate-items {
    width: auto;
    padding-bottom: 30px;
}

@media (min-width: 1200px) {
    .cognate-items {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.cognate-items__title {
    text-align: center;
}

.item-page {
    margin-top: 30px;
    width: auto;
}

@media (min-width: 1200px) {
    .item-page {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.item-page__title {
    padding: 0 20px;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
}

.item-page__img {
    width: 250px;
    height: 300px;
}

.item-page__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
}

.item-page__section-title {
    margin-bottom: 20px;
}

.item-page__section--descr, .item-page__section--details {
    background-color: #dadada;
}

.item-page__price {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
    text-decoration: underline;
}

.item-page__form-buy {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.item-page__btn {
    margin: 0 auto;
}

.item-page__detail {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-top: 0;
    text-transform: none;
    color: #2a2a2a;
}

@media (max-width: 767px) {
    .item-page__section {
        position: relative;
        padding: 20px 15px;
    }

    .item-page__section::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        top: 0;
        left: 0;
        background-color: #6a4d38;
    }

    .item-page__title {
        font-size: 27px;
        line-height: 30px;
    }

    .item-page__img {
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .cognate-items__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .item-page {
        margin-top: 50px;
    }

    .item-page__info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .item-page__img {
        margin-left: 50px;
    }

    .item-page__section {
        -ms-flex-preferred-size: 280px;
        flex-basis: 280px;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-item-align: start;
        align-self: flex-start;
        margin: 20px 0;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .item-page__section--price {
        -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        margin: 30px;
        -ms-flex-item-align: end;
        align-self: flex-end;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .item-page__section--descr, .item-page__section--details {
        position: relative;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        margin: 0;
        padding: 20px;
        background-color: #dadada;
    }

    .item-page__section--descr::after, .item-page__section--details::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #6a4d38;
    }

    .item-page__btn {
        margin: 0;
        margin-left: auto;
    }

    .item-page__img {
        margin-bottom: 30px;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
}

.page-header, .page-pre-footer {
    background-color: #dadada;
}

.page-header__header::after {
    top: -40px;
    background-color: #000000;
}

.page-header__descr, .page-pre-footer__descr {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
    padding-bottom: 50px;
    text-transform: none;
}

.page-pre-footer__descr {
    padding: 50px 0;
}

.page-header__h {
    background-color: #dadada;
}

.page-info {
    width: auto;
    background: none;
}

@media (min-width: 1200px) {
    .page-info {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.page-info__header::after {
    top: -45px;
    background-color: #000000;
}

.page-info__h {
    background-color: #ffffff;
}

.page-info__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.page-info__item {
    position: relative;
    -ms-flex-preferred-size: 256px;
    flex-basis: 256px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-bottom: 30px;
}

.page-info__item::before {
    position: absolute;
    content: '';
    background-color: #6a4d38;
}

.page-info__link {
    display: block;
    margin: 0 auto;
    max-width: 230px;
    color: #000000;
    text-align: center;
}

.page-info__title {
    font-size: 25px;
    text-align: center;
}

.page-info__img {
    width: 200px;
    height: 250px;
    margin: 0 auto;
}

.page-info__descr {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    text-transform: capitalize;
}

@media (max-width: 767px) {
    .page-header__descr {
        font-size: 16px;
        width: 90%;
    }

    .page-info__item::before {
        width: 90%;
        height: 2px;
        bottom: 0;
        left: 5%;
    }

    .page-info__item:last-of-type::before {
        display: none;
    }
}

@media (min-width: 768px) {
    .page-info__item::before {
        width: 2px;
        height: 80%;
        top: 10%;
        right: 0;
    }

    .page-info__item:nth-child(3n + 3)::before {
        display: none;
    }
}

@media (min-width: 1024px) {
    .page-info__item {
        -ms-flex-preferred-size: 301px;
        flex-basis: 301px;
    }
}

.page-features {
    background-color: #dadada;
}

.page-features__wrapper {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@media (min-width: 1200px) {
    .page-features__wrapper {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.page-features__item {
    position: relative;
    -ms-flex-preferred-size: 33.3%;
    flex-basis: 33.3%;
    padding: 0 20px;
}

.page-features__item::before {
    position: absolute;
    content: '';
    height: 2px;
    top: 10px;
    left: 20px;
    right: 20px;
    background-color: #826550;
}

.page-features__text {
    text-align: center;
    color: #000000;
    text-transform: none;
}

@media (max-width: 767px) {
    .page-features__wrapper {
        display: block;
    }

    .page-features__item {
        max-width: 500px;
        margin: 0 auto;
        padding: 15px 0;
    }

    .page-features__text {
        font-size: 16px;
        padding: 0 10px;
        margin: 0;
    }
}

.checkout {
    width: auto;
}

@media (min-width: 1200px) {
    .checkout {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.checkout__header::after {
    top: -40px;
    background-color: #000000;
}

.checkout__h {
    background-color: #ffffff;
}

.checkout__wrapper {
    padding: 0 15px;
    margin: 0 auto;
}

.checkout__total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 10px;
    font-size: 20px;
    color: #2a2a2a;
}

.checkout__len-items, .checkout__total-price {
    margin-bottom: 10px;
    position: relative;
}

.checkout__len-items::after, .checkout__total-price::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #6a4d38;
}

.checkout__len-items {
    margin-right: 50px;
}

.main-cart__img {
    width: 90px;
    height: 130px;
    background-color: #6a4d38;
}

.main-cart__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    padding: 20px 0;
}

.main-cart__item::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #6a4d38;
}

.main-cart__link {
    color: #000000;
}

.main-cart__link:hover {
    text-decoration: underline;
}

.main-cart__remove {
    width: 40px;
    height: 40px;
}

.main-cart__remove-btn {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.main-cart__remove-btn::after, .main-cart__remove-btn::before {
    position: absolute;
    content: '';
    top: 18px;
    left: 0;
    width: 40px;
    height: 4px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
    background-color: #2a2a2a;
}

.main-cart__remove-btn::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.main-cart__remove-btn::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.main-cart__remove-btn:hover::before, .main-cart__remove-btn:hover::after {
    background-color: #6a4d38;
}

.main-cart__wrapper {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.main-cart__item-name {
    font-size: 23px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 10px;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
}

.main-cart__item-price {
    text-align: right;
}

.main-cart__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-cart__number {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #6a4d38;
    cursor: pointer;
}

.main-cart__number::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    top: 19px;
    left: 5px;
    background-color: #ffffff;
}

.main-cart__number--plus::after {
    position: absolute;
    content: '';
    left: 19px;
    top: 5px;
    width: 3px;
    height: 30px;
    background-color: #ffffff;
}

.main-cart__nmb {
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 30px;
    width: 40px;
    height: 40px;
    color: #2a2a2a;
}

@media (max-width: 767px) {
    .checkout__h {
        font-size: 30px;
    }

    .checkout__total {
        max-width: 500px;
        margin: 0 auto;
    }

    .main-cart {
        max-width: 500px;
        margin: 0 auto;
    }

    .main-cart__item-name {
        font-size: 20px;
        line-height: 25px;
    }
}

@media (min-width: 768px) {
    .main-cart__item {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .main-cart__img {
        margin-right: 50px;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }

    .main-cart__item-name {
        -ms-flex-preferred-size: 220px;
        flex-basis: 220px;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .main-cart__wrapper {
        margin: 0 10%;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .main-cart__remove {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
}

.order {
    padding-bottom: 30px;
    background-color: #dadada;
}

.order__thanks {
    max-width: 250px;
    margin: 70px auto;
    text-align: center;
    color: #2a2a2a;
    font-size: 21px;
}

.order__header::after {
    background-color: #000000;
}

.order__h {
    background-color: #dadada;
}

.order__form {
    width: auto;
}

@media (min-width: 1200px) {
    .order__form {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.order__fieldset {
    margin: 0;
    border: none;
}

.order__fieldset--submit {
    margin-top: 30px;
}

.order__fieldset:first-of-type {
    position: relative;
}

.order__fieldset:first-of-type::after {
    position: absolute;
    content: '';
    background-color: #2a2a2a;
}

.order__label {
    width: 100%;
}

.order__input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 3px solid #826550;
}

.order__input::-webkit-input-placeholder {
    color: #CC3434;
}

.order__input:-ms-input-placeholder {
    color: #CC3434;
}

.order__input::-ms-input-placeholder {
    color: #CC3434;
}

.order__input::placeholder {
    color: #CC3434;
}

.order__input:hover {
    border: 3px solid #454545;
}

.order__input--textarea {
    outline: none;
    resize: none;
}

.order__submit {
    margin: 0 auto;
    margin-top: 30px;
}

.order__title {
    display: block;
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    .order__header::after {
        top: -60px;
    }

    .order__h {
        font-size: 30px;
        max-width: 210px;
        word-wrap: break-word;
    }

    .order__fieldset {
        max-width: 400px;
        padding: 0 20px;
        margin: 0 auto;
    }

    .order__fieldset:first-of-type {
        padding-bottom: 20px;
        margin-bottom: 10px;
    }

    .order__fieldset:first-of-type::after {
        bottom: 0;
        left: 5px;
        right: 5px;
        height: 2px;
    }
}

@media (min-width: 768px) {
    .order__form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .order__fieldset {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 400px;
        padding: 0 5%;
    }

    .order__fieldset:first-of-type::after {
        right: -1px;
        top: 0;
        bottom: 0;
        width: 2px;
    }

    .order__fieldset--submit {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

@media (min-width: 1200px) {
    .order__fieldset {
        padding: 0 10%;
    }
}

.contact-page {
    background-color: #dadada;
    padding-bottom: 30px;
}

.contact-page__header::after {
    background-color: #000000;
    top: -42px;
}

.contact-page__h {
    margin-top: 30px;
    background-color: #dadada;
}

.contact-page__main-info {
    width: auto;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .contact-page__main-info {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.contact-page__section {
    margin-bottom: 20px;
}

.contact-page__section:last-of-type {
    margin-bottom: 0;
}

.contact-page__title, .contact-page__info {
    text-align: center;
    text-transform: none;
}

.contact-page__title {
    display: block;
    font-size: 21px;
}

.contact-page__info {
    margin: 0;
    font-weight: normal;
}

.map {
    width: auto;
}

@media (min-width: 1200px) {
    .map {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

.map__header::after {
    background-color: #000000;
    top: -45px;
}

.map__h {
    margin-top: 30px;
    background-color: #ffffff;
}

.map__map {
    display: block;
    width: 90%;
    min-width: 320px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .contact-page__main-info {
        width: 90%;
        max-width: 500px;
    }
}

@media (min-width: 768px) {
    .contact-page__main-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .contact-page__section {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin-bottom: 40px;
    }

    .contact-page__info {
        max-width: 350px;
        margin: 0 auto;
    }

    .map__map {
        height: 500px;
    }
}
