<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <title>{{ service.title }} | «КазЭнергоСтрой»</title>
    {% include 'base/head.html' %}
</head>
<body>
<header class="header">
    {% include 'base/header.html' %}
</header>
<main>
    <div class="slider">
        <ul class="slider__wrapper">
            {% for image in service.images.all %}
                {% if forloop.first %}
                    <li class="slider__img slider__img--show" style="background-image: url({{ image.image.url }})"></li>
                {% else %}
                    <li class="slider__img" style="background-image: url({{ image.image.url }})"></li>
                {% endif %}
            {% endfor %}
        </ul>
        <span class="slider__control slider__control--prev">&#10094;</span>
        <span class="slider__control slider__control--next">&#10095;</span>
        <div class="slider__dots">
            {% for image in service.images.all %}
                {% if forloop.first %}
                    <span class="slider__dot slider__dot--active" data-num="{{ forloop.counter0 }}"></span>
                {% else %}
                    <span class="slider__dot" data-num="{{ forloop.counter0 }}"></span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="page-header">
        <div class="page-header__header text-header">
            <h1 class="page-header__h text-h">{{ service.name }}</h1>
        </div>
        <div class="page-header__descr">{{ service.text|safe }}</div>
    </div>
    <div class="page-features">
        <div class="page-features__wrapper">
            {% if service.features1 %}
                <section class="page-features__item">
                    <div class="page-features__text">{{ service.features1|safe }}</div>
                </section>
            {% endif %}
            {% if service.features2 %}
                <section class="page-features__item">
                    <div class="page-features__text">{{ service.features2|safe }}</div>
                </section>
            {% endif %}
            {% if service.features3 %}
                <section class="page-features__item">
                    <div class="page-features__text">{{ service.features3|safe }}</div>
                </section>
            {% endif %}
        </div>
    </div>
</main>
<footer class="footer">
    {% include 'base/footer.html' %}
</footer>
{% include 'base/popup-request.html' %}
<script src="{% static 'js/header.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>
