<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <title>Интернет-магазин | «КазЭнергоСтрой»</title>
    {% include 'base/head.html' %}
</head>
<body>
<header class="header">
    {% include 'base/header.html' %}
</header>
<main>
    <div class="slider">
        <ul class="slider__wrapper">
            {% for image in page.images.all %}
                {% if forloop.first %}
                    <li class="slider__img slider__img--show" style="background-image: url({{ image.image.url }})"></li>
                {% else %}
                    <li class="slider__img" style="background-image: url({{ image.image.url }})"></li>
                {% endif %}
            {% endfor %}
        </ul>
        <span class="slider__control slider__control--prev">&#10094;</span>
        <span class="slider__control slider__control--next">&#10095;</span>
        <div class="slider__dots">
            {% for image in page.images.all %}
                {% if forloop.first %}
                    <span class="slider__dot slider__dot--active" data-num="{{ forloop.counter0 }}"></span>
                {% else %}
                    <span class="slider__dot" data-num="{{ forloop.counter0 }}"></span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="page-header">
        <div class="page-header__header text-header">
            <h1 class="page-header__h text-h">{{ page.title }}</h1>
        </div>
        <div class="page-header__descr">{{ page.description|safe }}</div>
    </div>
    <div class="page-info">
        <div class="page-info__header text-header">
            <h2 class="page-info__h text-h">Мы продаем:</h2>
        </div>
        <div class="page-info__wrapper">
            {% for category in category_list %}
                <section class="page-info__item">
                    <a class="page-info__link" href="/shop/{{ category.slug }}">
                        <h3 class="page-info__title">{{ category.name }}</h3>
                        <img src="{{ category.image.url }}" alt="" class="page-info__img">
                        <div class="page-info__descr">{{ category.description|safe }}</div>
                    </a>
                </section>
            {% endfor %}
        </div>
    </div>
</main>
<footer class="footer">
    {% include 'base/footer.html' %}
</footer>
{% include 'base/popup-request.html' %}
<script src="{% static 'js/header.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>
