<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <title>{{ item.name }} | «КазЭнергоСтрой»</title>
    {% include 'base/head.html' %}
</head>
<body>
<header class="header">
    {% include 'base/header.html' %}
</header>
<main>
    <div class="item-page">
        <h1 class="item-page__title">{{ item.name }}</h1>
        <div class="item-page__info">
            <img src="{{ item.image.url }}" class="item-page__img" alt="">
            <section class="item-page__section item-page__section--price">
                <span class="item-page__section-title">Цена:</span>
                <span class="item-page__price">{{ item.price }} руб.</span>
                <form action="#" method="get" class="item-page__form-buy" data-url="{{ item.url }}"
                      data-name="{{ item.name }}" data-price="{{ item.price }}">
                    <button type="submit" class="item-page__btn btn">Добавить в корзину</button>
                </form>
            </section>
            <section class="item-page__section item-page__section--details">
                <span class="item-page__section-title">основные характеристики:</span>
                {% if item.manufacturer %}
                    <span class="item-page__detail">Производитель: {{ item.manufacturer }}</span>
                {% endif %}
                {% if item.type %}
                    <span class="item-page__detail">Тип: {{ item.type }}</span>
                {% endif %}
                {% if item.power %}
                    <span class="item-page__detail">Мощность: {{ item.power }} кВт</span>
                {% endif %}
                {% if item.min_amount and item.max_amount %}
                    <span
                            class="item-page__detail">Объем: {{ item.min_amount }}м<sup>3</sup> - {{ item.max_amount }}м<sup>3</sup></span>
                {% endif %}
            </section>
            <section class="item-page__section item-page__section--descr">
                <span class="item-page__section-title">Описание:</span>
                <div class="item-page__detail">{{ item.description|safe }}</div>
            </section>
        </div>
    </div>

    <div class="cognate-items">
        {% if similar_items %}
            <h2 class="cognate-items__title">Похожие товары:</h2>
            <div class="cognate-items__wrapper">
                {% for similar_item in similar_items %}
                    <a href="{{ similar_item.url }}" class="product">
                        <h2 class="product__title">{{ similar_item.name }}</h2>
                        <div class="product__info">
                            <img src="{{ similar_item.image.url }}" class="product__img" alt="">
                            <div class="product__wrapper">
                                {% if similar_item.power %}
                                    <span class="product__power">Мощность: {{ similar_item.power }}кВт</span>
                                {% endif %}
                                {% if similar_item.min_amount and similar_item.max_amount %}
                                    <span class="product__amount">Объем: {{ similar_item.min_amount }}м<sup>3</sup> - {{ similar_item.max_mount }}м<sup>3</sup></span>
                                {% endif %}
                                {% if similar_item.price %}
                                    <span class="product__price">Цена: {{ similar_item.price }} руб.</span>
                                {% endif %}
                                <form action="#" class="product__buy" method="get">
                                    <button type="submit" class="product__add-cart btn">добавить в корзину</button>
                                </form>
                            </div>
                        </div>
                    </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
</main>
<footer class="footer">
    {% include 'base/footer.html' %}
</footer>
{% include 'base/popup-request.html' %}
<script src="{% static 'js/header.js' %}"></script>
</body>
</html>
