<!DOCTYPE html>
{% load static %}
{% load query %}
<html lang="ru">
<head>
    <title>{{ object.title }} | «КазЭнергоСтрой»</title>
    {% include 'base/head.html' %}
</head>
<body>
<header class="header">
    {% include 'base/header.html' %}
</header>
<main>
    <div class="page-header">
        <div class="page-header__header text-header">
            <h1 class="page-header__h text-h">{{ object.name }}</h1>
        </div>
        <div class="page-header__descr">{{ object.text|safe }}</div>
    </div>
    <form action="" method="get" class="search" id="search">
        <input type="search" class="search__result" name="name" placeholder="поиск"
               value="{{ request.GET.name|default_if_none:'' }}">
        <button type="submit" class="search__submit"></button>
    </form>
    <form action="" method="get" class="filter" id="filter">
        <div class="filter__header">
            <h2 class="filter__h2">фильтры</h2>
            <img class="filter__arrow" src="{% static 'img/shop/arrow.png' %}" width="30" height="32"
                 alt="arrow">
        </div>
        <div class="filter__fieldsets" style="display: none">
            {% if object.is_manufacturer %}
                <fieldset class="filter__fieldset">
                    <p class="filter__legend">производитель:</p>
                    <div class="filter__wrapper">
                        {% for manufacturer in object.manufacturers.all %}
                            <label class="filter__item">
                                {% if manufacturer.id|slugify in request.GET|get_list:"manufacturer" %}
                                    <input type="checkbox" class="filter__checkbox" name="manufacturer"
                                           value="{{ manufacturer.id }}" multiple checked>
                                {% else %}
                                    <input type="checkbox" class="filter__checkbox" name="manufacturer"
                                           value="{{ manufacturer.id }}" multiple>
                                {% endif %}

                                <i class="filter__checkbox--check"></i>
                                <span class="filter__span">{{ manufacturer.name }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </fieldset>
            {% endif %}

            {% if object.is_type %}
                <fieldset class="filter__fieldset">
                    <p class="filter__legend">тип:</p>
                    <div class="filter__wrapper">
                        {% for type in object.types.all %}
                            <label class="filter__item filter__item--type">
                                {% if type.id|slugify in request.GET|get_list:"type" %}
                                    <input type="checkbox" class="filter__checkbox" name="type" value="{{ type.id }}"
                                           checked>
                                {% else %}
                                    <input type="checkbox" class="filter__checkbox" name="type" value="{{ type.id }}">
                                {% endif %}
                                <i class="filter__checkbox--check"></i>
                                <span class="filter__span">{{ type.name }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </fieldset>
            {% endif %}

            {% if object.is_price %}
                <fieldset class="filter__fieldset">
                    <p class="filter__legend">цена (руб.):</p>
                    <div class="filter__wrapper">
                        <label class="filter__item filter__item--number">
                            <span class="filter__span">от:</span>
                            <input type="number" class="filter__number" name="min_price" min="0"
                                   value="{{ request.GET.min_price|default_if_none:'0' }}">
                        </label>
                        <label class="filter__item filter__item--number">
                            <span class="filter__span">до:</span>
                            <input type="number" class="filter__number" name="max_price" min="0"
                                   value="{{ request.GET.max_price|default_if_none:'0' }}">
                        </label>
                    </div>
                </fieldset>
            {% endif %}

            {% if object.is_power %}
                <fieldset class="filter__fieldset">
                    <p class="filter__legend">мощность (кв.):</p>
                    <div class="filter__wrapper">
                        <label class="filter__item filter__item--number">
                            <span class="filter__span">от:</span>
                            <input type="number" class="filter__number" name="min_power" min="0"
                                   value="{{ request.GET.min_power|default_if_none:'0' }}">
                        </label>
                        <label class="filter__item filter__item--number">
                            <span class="filter__span">до:</span>
                            <input type="number" class="filter__number" name="max_power" min="0"
                                   value="{{ request.GET.max_power|default_if_none:'0' }}">
                        </label>
                    </div>
                </fieldset>
            {% endif %}

            {% if object.is_amount %}
                <fieldset class="filter__fieldset">
                    <p class="filter__legend">объем парильни (м<sup>3</sup>):</p>
                    <div class="filter__wrapper filter__wrapper--amount">
                        <label class="filter__item filter__item--number">
                            <input type="number" class="filter__number filter__number--amount" name="amount" min="0"
                                   value="{{ request.GET.amount|default_if_none:'0' }}">
                        </label>
                    </div>
                </fieldset>
            {% endif %}
            <fieldset class="filter__fieldset filter__fieldset--submit">
                <button type="submit" class="filter__submit btn">Показать</button>
            </fieldset>
        </div>
    </form>
    <div class="result-container">
        {% for item in item_list %}
            <a href="/shop/{{ item.category.slug }}/{{ item.slug }}/" class="product">
                <h2 class="product__title">{{ item.name }}</h2>
                <div class="product__info">
                    <img src="{{ item.image.url }}" class="product__img" alt="">
                    <div class="product__wrapper">
                        <span class="product__power">Мощность: {{ item.power }} кВт</span>
                        <span class="product__amount">Объем: {{ item.min_amount }}м<sup>3</sup> - {{ item.max_amount }}м<sup>3</sup></span>
                        <span class="product__price">Цена: {{ item.price }}</span>
                        <form action="#" method="get">
                            <button type="submit" class="product__add-cart btn">добавить в корзину</button>
                        </form>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <ul class="paginator">
        {% for page in paginator.page_range %}
            {% if page_obj.number == page %}
                <li class="paginator__page paginator__page--active">{{ page }}</li>
            {% else %}
                <li class="paginator__page"><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="page-pre-footer">
        <div class="page-pre-footer__descr">{{ object.footer_text|safe }}</div>
    </div>
</main>
<footer class="footer">
    {% include 'base/footer.html' %}
</footer>
{% include 'base/popup-request.html' %}
<script src="{% static 'js/header.js' %}"></script>
<script src="{% static 'js/shop/itemsShop.js' %}"></script>
</body>
</html>
