<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <title>Корзина | «КазЭнергоСтрой»</title>
  {% include 'base/head.html' %}
</head>
<body>
<header class="header">
  {% include 'base/header.html' %}
</header>
<main>
  {% if totalItemsInCart != 0 %}
    <div class="checkout">
      <div class="checkout__header text-header">
        <h1 class="checkout__h text-h">Ваша корзина:</h1>
      </div>
      <div class="checkout__wrapper">
        <ul class="main-cart">
          {% for itemInCart in itemsInCart %}
            <li class="main-cart__item">

              <!-- <img src="" alt="" class="main-cart__img"> -->
              <h3 class="main-cart__item-name"><a class="main-cart__link"
                                                  href="{{ itemInCart.url }}">{{ itemInCart.name }}</a></h3>
              <span class="main-cart__remove">
                <button type="submit" class="main-cart__remove-btn" data-url="{{ itemInCart.url }}"></button>
              </span>
              <div class="main-cart__img"></div>
              <div class="main-cart__wrapper">
                <p class="main-cart__item-price">{{ itemInCart.price }} руб.</p>
                <label class="main-cart__label">
                  <span class="main-cart__number main-cart__number--minus"></span>
                  <input class="main-cart__nmb" type="text" value="{{ itemInCart.nmb }}" readonly>
                  <span class="main-cart__number main-cart__number--plus"></span>
                </label>
              </div>
            </li>
          {% endfor %}
        </ul>
        <div class="checkout__total">
          <span class="checkout__len-items">Товаров в корзине: {{ totalItemsInCart }}</span>
          <span class="checkout__total-price">Итого: {{ totalPriceInCart }} руб.</span>
        </div>
      </div>
    </div>
    <div class="order">
      <div class="order__header text-header">
        <h2 class="order__h text-h">Оформление заказа</h2>
      </div>
      <form class="order__form" id="order" method="post">
        {% csrf_token %}
        <fieldset class="order__fieldset">
          <label class="order__label">
            <span class="order__title">Ваше имя:</span>
            <input type="text" name="name" class="order__input" id="orderName" required>
          </label>
          <label class="order__label">
            <span class="order__title">email:</span>
            <input type="email" name="email" class="order__input" id="orderEmail" required>
          </label>
          <label class="order__label">
            <span class="order__title">телефон:</span>
            <input type="tel" name="tel" class="order__input">
          </label>
        </fieldset>
        <fieldset class="order__fieldset">
          <label class="order__label">
            <span class="order__title">Комментарий к заказу:</span>
            <textarea class="order__input order__input--textarea" name="message" rows="7"></textarea>
          </label>
        </fieldset>
        <fieldset class="order__fieldset order__fieldset--submit">
          <input type="submit" class="order__submit btn" value="оформить заказ">
        </fieldset>
      </form>
    </div>
  {% else %}
    <div class="checkout">
      <div class="checkout__header text-header">
        <h1 class="checkout__h text-h">Ваша корзина:</h1>
      </div>
    </div>
    <div class="result-container">
      <p class="result-container__alert">Корзина пуста</p>
    </div>
  {% endif %}
</main>
<footer class="footer">
  {% include 'base/footer.html' %}
</footer>
{% include 'base/popup-request.html' %}
<script src="{% static 'js/header.js' %}"></script>
</body>
</html>
