<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <title>Строительная компания «КазЭнергоСтрой» - Казань, Татарстан | «КазЭнергоСтрой»</title>
    <meta name="description"
          content="Компания КазЭнергоСтрой специализируется на выполнении отделочных работ, строительстве саун, бань, инфракрасных кабин, турецких парных (хамамов), соляных пещер.">
    {% include 'base/head.html' %}
</head>
<body>
<header class="header">
    {% include 'base/header.html' %}
</header>
<main>
    <div class="slider">
        <ul class="slider__wrapper">
            {% for image in object.images.all %}
                {% if forloop.first %}
                    <li class="slider__img slider__img--show" style="background-image: url({{ image.image.url }})"></li>
                {% else %}
                    <li class="slider__img" style="background-image: url({{ image.image.url }})"></li>
                {% endif %}
            {% endfor %}
        </ul>
        <span class="slider__control slider__control--prev">&#10094;</span>
        <span class="slider__control slider__control--next">&#10095;</span>
        <div class="slider__dots">
            {% for image in object.images.all %}
                {% if forloop.first %}
                    <span class="slider__dot slider__dot--active" data-num="{{ forloop.counter0 }}"></span>
                {% else %}
                    <span class="slider__dot" data-num="{{ forloop.counter0 }}"></span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="main-info">
        <div class="main-info__header text-header">
            <h2 class="main-info__h text-h">{{ object.title }}</h2>
        </div>
        <div class="main-info__p">{{ object.description|safe }}</div>
    </div>
    <div class="feature">
        <div class="feature__wrapper">
            {% for feature in object.features.all %}
                <div class="feature-item">
                    <h3 class="feature-item__header">{{ feature.name }}</h3>
                    <img src="{{ feature.image.url }}" alt="like" class="feature-item__img">
                    <p class="feature-item__descr">{{ feature.description }}</p>
                </div>
            {% endfor %}
        </div>
        <span class="feature__control feature__control--prev">&#10094;</span>
        <span class="feature__control feature__control--next">&#10095;</span>
    </div>
    <div class="func">
        <div class="func__header text-header">
            <h2 class="func__h text-h">наши услуги:</h2>
        </div>
        <div class="func__items">
            {% for service in object.services.all %}
                <section class="func__item">
                    <h3 class="func__header">{{ service.name }}</h3>
                    <div class="func__p">{{ service.description|safe }}</div>
                    <a href="{% url 'base:service:detail' service.slug %}" class="func__link">подробнее</a>
                </section>
            {% endfor %}
        </div>
    </div>
    <div class="reviews">
        <div class="reviews__wrapper">
            {% for review in object.reviews.all %}
                <section class="reviews__item">
                    <span class="reviews__name">{{ review.name }}</span>
                    <p class="reviews__review">{{ review.review }}</p>
                </section>
            {% endfor %}
        </div>
        <span class="reviews__control reviews__control--prev">&#10094;</span>
        <span class="reviews__control reviews__control--next">&#10095;</span>
    </div>
    <div class="request">
        <h2 class="request__h2">заинтересовались?</h2>
        <button class="request__btn btn">оставить заявку</button>
    </div>
    <div class="news">
        <div class="news__header text-header">
            <h2 class="news__h text-h">Последние<br>новости</h2>
        </div>
        <div class="news__wrapper">
            {% for new in object.news.all %}
                <div class="news__item">
                    <img src="{{ new.icon.url }}" alt="like" class="news__img">
                    <p class="news__descr">{{ new.news }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
<footer class="footer">
    {% include 'base/footer.html' %}
</footer>
{% include 'base/popup-request.html' %}
<script src="{% static 'js/header.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>
